@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
 --Very-dark-blue: hsl(233, 47%, 7%);
 --Dark-desaturated-blue: hsl(244, 38%, 16%);
 --Soft-violet: hsl(277, 64%, 61%);
 --White: hsl(0, 0%, 100%);
 --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
 --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
 min-width: 0;
}

html,
button {
 font-size: 15px;
 font-family: "Lexend Deca", "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-optical-sizing: auto;
}

body {
 margin: 0;
 min-height: 100vh;
 background-color: var(--Very-dark-blue);
}

main {}

.row-1 {}

#img-mobile {}

#img-desktop {}

.row-2 {}

@media screen and (min-width: 1440px) {}